CQRS.zip
frog.jpg
LICENSE
CQRS_v1.aux
CQRS_v1.bbl
CQRS_v1.blg
CQRS_v1.fdb_latexmk
CQRS_v1.fls
CQRS_v1.log
CQRS_v1.out
CQRS_v1.pdf
CQRS_v1.synctex.gz
sections/indent.log
.gitignore
sections/uml/indent.log
